body {

  margin: 0;

  font-family: Arial, sans-serif;
  background-color: rgba(224, 226, 230, 0.774);
  

  color: #202042;

}

header {
  background-color: rgb(255, 255, 255);
  
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.466);

  padding: 20px;

  display: flex;
  align-items: center;
}

header p{
    margin-left: 30px;

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 2px;
   margin-left: 10px;
   }

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
  }

header img {
  width: 150px;
}

header h1{
    margin-left: 10%;
}


.corpo{
    display: flex;
}

.container{
    display: flex;
    flex-direction: column;

    background-color: rgb(245, 242, 242);
    
  
    box-shadow: 0 1px 3px black;

    padding: 20px;
    margin: 3%;
    border-radius: 15px;
    width: 800px;

    
}

.container h1{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color:#ffffff;
    
    
    padding: 20px;
    margin: -20px;

    border: #202042;
    border-style:ridge;
    border-width: 2px;

    font-weight: bold;
    font-size: xx-large;

}


.banner{
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    :hover{
    opacity: 0.8;
    }

    
}

.container li{
    list-style: none;

    border: #202042;
    border-radius: 20px;
    border-style:ridge;

    padding:15px;
    margin:3.65%;
    height: 40px;

    background-color: #202042;
    

    display: flex;
    justify-content: center;
    align-items: center;

    :hover{
    opacity: 1;
    }
}

a{
    text-decoration: none;
    color: white;

    font-size: large;
}

.container p{
    display: flex;
    justify-content: center;
    margin-top: 35%;

    font-weight: bold;
    font-size: xx-large;
    
}

footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

body h1{
    margin-left: 20px;
}

.integracao{
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: rgb(245, 242, 242);

    box-shadow: 0 1px 3px black;

    border-radius: 15px;

    padding: 20px;
    margin: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 300px;

}

.integracao button{
    padding: 5px;
    margin: auto;
}
